.button {
  background-color: white;
  width: 10rem;
  font-size: 1.2rem;
  font-family: "Zen Kurenaido", sans-serif;

  margin: 3rem;
  padding: 1rem;

  border: 1px solid #ff9671;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(252, 143, 119, 0.6);

  transition: color 0.15s ease, border-color 0.15s ease;
}

.button:hover {
  transform: translateY(-3%);
  cursor: pointer;
}

@media (max-width: 600px) {
  .button {
    background-color: white;
    width: 7rem;
    font-size: 0.7rem;
    font-family: "Zen Kurenaido", sans-serif;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 2rem;
    border: 1px solid #ff9671;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(252, 143, 119, 0.6);

    transition: color 0.15s ease, border-color 0.15s ease;
  }
}
