.navigation {
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.6rem;
  border: 1px solid #bb69e1;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(252, 119, 221, 0.6);
  transition: color 0.15s ease;
  vertical-align: center;
  margin-bottom: 5rem;
}

.a {
  margin: 0;
  vertical-align: center;
}

.navigation:hover,
.navigation:focus,
.navigation:active {
  transform: scale(1.1);
}
