@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Zen Kurenaido", sans-serif;
}

a {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #ffa16f;
}
* {
  box-sizing: border-box;
}

small {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
