html,
body {
  padding: 0;
  margin: 0;
  font-family: "Zen Kurenaido", sans-serif;
}

a {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #ffa16f;
}
* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

small {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

input[type="radio"]:checked + label {
  background-color: lightgrey;
}
