.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  max-width: 100vw;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.h1 {
  font-size: 3rem;
  margin-top: 1rem;
  color: #bb69e1;
  border-radius: 25px;
}

.image {
  width: 150px;
  margin-right: 1rem;
}

.description {
  /* background-color: #ff9671; */
  /* background-color: #ffc75f; */
  max-width: 30%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ff64be;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(252, 119, 221, 0.6);
  transition: color 0.15s ease;
}

.navigation {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    /* background-color: #ff9671; */
    /* background-color: #ffc75f; */
    max-width: 80%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #ff64be;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(252, 119, 221, 0.6);
    transition: color 0.15s ease;
  }
}
